

/*wrapper 부분 layout*/
div#wrapper{
	
	width : 1000px;
	height  : 1000px;
	margin-top: 50px;
	margin-bottom : 0;
	margin-left : auto;
	margin-right : auto;
}
/*side bar*/
nav#sideBar{
	margin-right : 20px;
	width : 250px;
	height : 300px;
	float : left;
}

#sideBar ul{
	padding-left:0;	
	list-style : none;
	margin-top: 0;
	float : left;
}


#sideBar li{
	width : 250px;
	height : 50px;
	border-bottom : solid rgb(83,129,188) 1px;
	float : left;
	
}
	
#sideBar li a{
	float : left;
	text-decoration : none;
	color : black;
	margin-left : 18px;
	margin-top : 10px;
	
}
#sideBar a.alumni_news{
	font-weight: bold;
	color : #0A1942;
}
#sideBar a.menu:hover{
	color: rgb(23,46,107);
	font-weight : bold;
	
}

#sideBar li:first-child{
	background-color: rgb(23,46,107);
	height : 50px;
	
}

#sideBar li:first-child a{
	font-size : 25px;
	color : white;
	margin-top : 7px;
	margin-left : 58px;
}

/*글 내용*/

#wrapper section#contentBox{
	border : solid black 1px;
	width: 728px;
	height : auto;
	float : left;
}

